.title {
  color: red;
  font-size: 50px;
}

.title,
.list,
.text {
  border: black solid 3px;
  border-radius: 10px;
  margin: 5px;
}

.conteiner {
  display: flex;
}

.formattazione,
.citazione,
.liste,
.simboli {
  justify-content: center;
  align-items: center;
}